[Unit]
Description=dream-syncer
After=network-online.target
Requires=network-online.target


[Service]
User={{ hub_user }}
Type=simple
WorkingDirectory=/usr/local/sobun/
EnvironmentFile=/usr/local/sobun/config/dream.env
Environment=GOOGLE_PROJECT_ID=${GOOGLE_PROJECT_ID}
Environment=GOOGLE_PUBSUB_TOPIC=${GOOGLE_PUBSUB_TOPIC}
Environment=BATCH_SIZE=${BATCH_SIZE}
Environment=DREAM_PUBSUB_TIMEOUT=${DREAM_PUBSUB_TIMEOUT}
Environment=GOOGLE_APPLICATION_CREDENTIALS=${GOOGLE_APPLICATION_CREDENTIALS}
ExecStart=/usr/local/bin/celery worker -A dream.syncer -c 2
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
