[Unit]
Description=dream-sniffer
After=bluetooth.service

[Service]
User=root
Type=simple
WorkingDirectory=/usr/local/sobun/
EnvironmentFile=/usr/local/sobun/config/dream.env
ExecStart=/usr/bin/python -m dream.sniffer %I'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
