GOOGLE_PROJECT_ID={{ hub_google_project_id }}
GOOGLE_PUBSUB_TOPIC={{ hub_google_pubsub_topic }}
BATCH_SIZE={{ hub_batch_size }}
DREAM_PUBSUB_TIMEOUT={{ hub_dream_pubsub_timeout }}
GOOGLE_APPLICATION_CREDENTIALS=/usr/local/sobun/config/{{ hub_google_application_credentials }}
